*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FFF;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.left, .right{
    display: flex;
}
.search, .conta{
    padding: 0 20px;
}
section.alert, section.topo, nav{
    background-color: #202020;
    padding: 15px 0;
    border-bottom: 1px solid #333;
    color: #fff;
}
section.alert, section.topo a, nav ul li a{
    color: #fff;
}
section.topo{
    padding: 25px 0;
}
section.topo >.container{
    display: flex;
    justify-content: space-between;
}
section.topo span{
    font-size: 34px;
    font-weight: bold;
}
section.topo span:last-child{
    color: #ffcb3b;
}

section.topo .search form{
    display: flex;
}
section.topo .search input[type=search]{
    width: 400px;
    padding: 10px 15px;
    outline: none;
}
section.topo .search button[type=submit]{
    background-color:  #ffcb3b;
    border: none;
    padding: 0 40px;
}