*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4{
    color: rgb(71, 71, 71);
}

.w33{
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}
.wraper_33{
    width: 33.3%;
}
body{
    background-color: #FFF;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.left, .right{
    display: flex;
}
.search, .conta{
    padding: 0 20px;
}
section.alert, section.topo, header nav{
    background-color: #202020;
    padding: 15px 0;
    border-bottom: 1px solid #333;
    color: #fff;
}
section.alert, section.topo a, nav ul li a{
    color: #fff;
}
section.topo{
    padding: 25px 0;
}
section.topo >.container{
    display: flex;
    justify-content: space-between;
}
section.topo span{
    font-size: 34px;
    font-weight: bold;
}
section.topo span:last-child{
    color: #ffcb3b;
}

section.topo .search form{
    display: flex;
}
section.topo .search input[type=search]{
    width: 400px;
    padding: 10px 15px;
    outline: none;
}
section.topo .search button[type=submit]{
    background-color:  #ffcb3b;
    border: none;
    padding: 0 40px;
}
section.topo .conta a i, section.topo .carrinho a i{
    font-size: 30px;
}

section.topo .conta > a, section.topo .carrinho > a{
    font-size: 18px;
    font-weight: lighter;
}
header nav{
    padding: 0;
    border-bottom: 0;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding: 15px;
}
header nav ul li:first-child a{
    color: #333;
}
header nav ul li:first-child{
    max-width: 250px;
    background-color: #ffcb3b;
    padding: 15px 40px;
    font-weight: bold;
}
header nav ul li a{
    font-size: 17px;
}
section.body{
    padding: 40px 0;
}
section.body >.container{
    display: flex;
}
aside{
    width: 235px;
}
aside nav ul li a{
    color: #333;
}
aside nav ul{
    border: 1px solid #ccc;
    padding: 8px;
}
aside nav ul li{
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
aside nav ul li:last-child{
    border-bottom: none;
}
main{
    width: calc(100% - 235px);
    padding: 0 20px;
}
main section.slide{
    background-color: #ccc;
    height: 300px;
}
main .boxes{
    padding: 40px 0;
}
main .boxes h1{
    text-align: center;
}

div.box{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
div.box img{
    width: 100%;
}
div.box .w33{
    text-align: center;
    display: flex;
    flex-direction: column;
}
div.box .w33 div{
    margin-top: 15px;
}
div.box .w33 h3{
    padding-bottom: 10px;
}

a.cart{
    background-color: #D01418;
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
}

